<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sri restarunt</title>
</head>
<body>
    <section class="menu">
        <div class="nav">
            <div class="logo"><h1>FOOD<b>IE</b></h1></div>
        </div>
    </section>
    <section class="grid">
        <div class="content">
            <div class="content-left">
                <div class="info">
                    <h2>Order Your Favourite<br>Delivery Anytime</h2>
                    <p>our restaurant provides the best tastes in our town.<br>made with love, simply delicious</p>
                </div>
                <button>Explore food</button>
            </div>
            <div class="content-right">
                <img src="img/front.jpg" alt="">
            </div>
        </div>
    </section>
    <section class="category" id="popular dishes">
        <div class="list-items">
            <h3>Popular Dishes</h3>
            <div class="card-list">
                <div class="card">
                    <img src="img/pasta.jpg" alt="">
                    <div class="food-title">
                        <h1>CREAMY PASTA</h1>
                    </div>
                    <div class="desc-food">
                        <p>A plate of creamy pasta is a plate of joy</p>
                    </div>
                    <div class="price">
                        <span>Rs.300</span><button>10% OFF</button>
                    </div>
                </div>
                <div class="card">
                    <img src="img/spicy.jpg" alt="">
                    <div class="food-title">
                        <h1>SPICY CHICKEN</h1>
                    </div>
                    <div class="desc-food">
                        <p>I am a spicy distater.Enjoy my spicyness</p>
                    </div>
                    <div class="price">
                        <span>Rs.240</span><button>10% OFF</button>
                    </div>
                </div>
                <div class="card">
                    <img src="img/noodles.jpg" alt="">
                    <div class="food-title">
                        <h1> CLASSIC NOODLES</h1>
                    </div>
                    <div class="desc-food">
                        <p>I am everyone favourite.No need to mention my classiness</p>
                    </div>
                    <div class="price">
                        <span>Rs.199</span><button>10% OFF</button>
                    </div>
                </div>
                <div class="card">
                    <img src="img/pizza.jpg" alt="">
                    <div class="food-title">
                        <h1>TOMATO PIZZA</h1>
                    </div>
                    <div class="desc-food">
                        <p>My taste, much like my shape, is circular -endless and ever-fulfilling</p>
                    </div>
                    <div class="price">
                        <span>Rs.430</span><button>10% OFF</button>
                    </div>
                </div>
                <div class="card">
                    <img src="img/manjuchurian.jpg" alt="">
                    <div class="food-title">
                        <h1>FRIED CHICKEN</h1>
                    </div>
                    <div class="desc-food">
                        <p>money cant buy happiness but can buy fried chicken</p>
                    </div>
                    <div class="price">
                        <span>Rs.270</span><button>10% OFF</button>
                    </div>
                </div>

            </div>
        </div>
      </section>
      <footer>
        <p>&copy; 2023 sri website. All rights reserved.</p>
    </footer>
</body>
</html>

